<!DOCTYPE html>
<html>
	<head>
		<title>Try Brat</title>
		<link href="/css/main.css" media="all" rel="Stylesheet" type="text/css" />
		<link href="/css/style.css" media="all" rel="Stylesheet" type="text/css" />
	</head>
	<body>
		<div id="content">
			<div id="links">
				<a href="http://brat-lang.org">Home</a>
				|
				<a target="_blank" href="http://rosettacode.org/wiki/Brat">Examples</a>
			</div>
		<img src="images/try-brat.png" />
		<br/>
		<div id ="input">
		<form id="code_box" >
			<textarea title="Code goes in here" id="program" cols=50 rows=20></textarea>
			<br />
      <a style="font-weight: bold; font-size: 14;text-decoration:none; border: 1px solid black; background: #EEE; padding: 3px; " href="#" onclick="submit_code('#program', '#result')">Try it!</a>
		</form>
		</div>
		<br />
		<div id="output"><pre id="result"></pre></div>
	</div>
	</body>

	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	<script src="/js/jquery.toggleformtext.compressed.js"></script>
	<script src="/js/updater.js"></script>
	<script src="/js/try.js"></script>
</html>
