<!DOCTYPE html>
<html>
	<head>
		<title>Try Brat</title>
		<link href="/css/main.css" media="all" rel="Stylesheet" type="text/css" />
		<link href="/css/style.css" media="all" rel="Stylesheet" type="text/css" />
	</head>
	<body>
	<div id="content">
		<img src="images/try-brat.png" />
		<br/>
		<div id ="input">
		<form id="code_box" >
			<textarea title="#Code goes in here" id="program" cols=50 rows=20></textarea>
			<br />
			<input type="submit" value="Try it!" />
		</form>
		</div>
		<br />
		<textarea id="result" title="#Result comes out here" cols=50 rows=20></textarea>
	</div>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="/js/jquery.toggleformtext.compressed.js"></script>
	<script src="/js/updater.js"></script>
	<script src="/js/try.js"></script>
</html>
