div#content {
	margin: 0px auto;
}

div#output,textarea {
	padding: 5px;
	margin: 10px;
	width: 500px;
	background-color: gray;
	border: 1px solid black;
	color: white;
}

div#input {
}

div#links {
	position: absolute;
	top: 3px;
	right: 3px;
	color: #333;
}

div#links a {
	color: #aaa;
	text-decoration: none;
}

div#links a:hover {
	color: #333;
	text-decoration: none;
}

body {
	text-align: center;
	font-family: Ariel, Verdana, sans-serif;
	font-size: 11pt;
}


